body {
    background-color: #f5f5f5;
}

.staff-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.staff-page__title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    text-align: left;
}

.staff-page__table-wrap {
    overflow-x: auto;
}

.staff-page__table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    /* ← テーブル背景を白に */
    border-radius: 12px;
    /* ← 角丸 */
    overflow: hidden;
    /* ← はみ出し防止 */
}

.staff-page__table th,
.staff-page__table td {
    padding: 10px;
    border: 1px solid #f5f5f5;
    text-align: center;
    white-space: nowrap;
    border-bottom: 2px solid #ccc;
    /* 横線だけ太く */
    border-right: none;
    border-left: none;
    /* 縦線を消す */
}

.staff-page__table tr:last-child td {
    border-bottom: none;
}

/* レスポンシブ対応 */
@media screen and (max-width: 850px) {
    .staff-page__title {
        font-size: 20px;
    }

    .staff-page__table th,
    .staff-page__table td {
        font-size: 14px;
        padding: 6px;
    }

    .staff-page__table-wrap {
        overflow-x: scroll;
    }
}